body {
  font-size: 16px;
  color: #333;
  font-family: sans-serif;
}

h2 {
  color: #333;
  font-weight: bold;
  margin-bottom: 25px;
}

#header-nav {
  background-color: #cccccc;
  border-radius: 0;
}

#header-nav .navbar-brand {
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
}

#nav-list {
  background-color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list li {
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#main-section {
  background-color: #999;
  padding: 30px; 
  margin-bottom: 20px;
  height: 1000px;
}

#main-section p {
  margin-bottom: 15px; 
  text-align: justify;
}

#main-section h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  color: #000;
}